.project{
    width: 290px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    border-radius: 20px;
    background: rgb(17, 17, 17);
    border: 2px solid rgba(119, 119, 119, 0.753);
    box-shadow: 0 0 20px rgba(133, 22, 236, 0.404);
    transition: 0.2s;
    &:hover{
        transform: scale(1.012);
    }
    & .content img{
        border-radius: 10px;
        width: 100%;
        box-shadow: 0 0 10px rgba(56, 238, 0, 0.699);
    }
    & .content h1{
        font-size: 1.3rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin:15px 0;
        letter-spacing: 0.5px;
    }
    & .content p{
        text-align: justify;
        font-size: 0.9rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 0.5px;
        margin-top: -8px;
        /* margin-bottom: 25px; */
        color: rgb(192, 181, 159);
    }
    & .technologies{
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        gap: 20px;  
        & P{
            box-shadow: 0 0 4px rgba(30, 255, 0, 0.589);
            padding: 5px 10px;
            color: rgb(166, 255, 0);
            border-radius: 5px;
        }
    }
    & .link{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        & a{
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 0.7rem;
            color: white;
            letter-spacing: 0.5px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background:linear-gradient(45deg, rgba(112, 0, 240, 0.582), rgba(255, 255, 0, 0.404));
            border: none;
            /* border: 1px solid rgba(119, 119, 119, 0.63); */
            box-shadow: 0 0 10px rgba(133, 22, 236, 0.404);
            &:hover{
                 background:linear-gradient(45deg, rgba(88, 240, 0, 0.582), rgba(98, 0, 255, 0.575));
            }
        }
    }
}

@media (max-width:486px) {
    .project{
     padding: 15px;
     & .content p{
        font-size: 0.83rem;
        line-height: 1.2;
       }
     & .technologies{
        gap: 15px;
        & p{
            font-size: 0.8rem;
        }
     }
     & .link a{
        padding: 9px 15px;
        font-size: 0.68rem;
     }
     & .content h1{
        font-size: 1.23rem;
     }
    }
}