.home-section{
    width:100%;
    display:flex;
    justify-content:space-between;
    gap: 15px;
    align-items:center;
    margin: 120px 0;
}
.style-box{
    position: absolute;
    left: 5%;
    z-index: -1;
    top: 20%;
    width: 180px;
    border-radius: 50%;
    aspect-ratio: 1;
    background:rgba(0, 0, 255, 0.232);
    filter: blur(10px);
    box-shadow: 0 0 150px rgba(0, 0, 255, 0.52);
    animation: box_style 2s linear infinite alternate;
}
.style-box2{
    position: absolute;
    left: -20%;
    z-index: -1;
    bottom: -10%;
    width: 170px;
    border-radius: 50%;
    aspect-ratio: 1;
    background:rgba(0, 0, 255, 0.281);
    filter: blur(10px);
    box-shadow: 0 0 200px rgba(0, 0, 255, 0.952);
    animation: box_style 2s linear infinite alternate;
}
@keyframes box_style {
    0%{
        transform: scale(1);
        transform: translate(30px,20px);
    }
    100%{
      transform: scale(1.3);
      transform: translateX(-30px, -20px);   
    }
}

.home-disc{
    max-width: 550px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    & h3{    
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 3px 3px 5px rgb(49, 49, 49);
    }
    & h1{
        font-size: 2.4rem;
        color: rgb(183, 119, 0);
        text-shadow: 5px 5px 3px rgb(21, 21, 20);
        font-family:'Times New Roman', Times, serif;
    }
    & p{
        color: rgb(146, 146, 146);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 5px 5px 10px rgb(21, 21, 20);
    }
    & .home-soialLinks{
        display:flex;
        gap: 20px;
        margin: 10px 0 20px 0;
        & a{
            font-size: 1.6rem;
            color: rgb(0, 0, 0);
            background:linear-gradient(45deg, blue, yellow);
            box-shadow: 0 0 10px rgb(34, 34, 34),
            inset 0 0 10px rgb(34, 34, 34);
            padding: 5px 10px;
            padding-top: 9px;
            border-radius: 50%;
            transition: 0.2s;
          &:hover{
              background: linear-gradient(45deg,  yellow,blue);
              border-radius: 2px 15px 2px 15px;
          }
        }
    }
}
.home-disc h3 .dynamic-disc{
    color: rgb(51, 255, 0);
    display: inline-block;
    padding: 0 2px;
    font-size: 1.3rem;
    margin-bottom: -6px;
    animation: disc_content 1.5s linear infinite alternate;
}
.home-img{
    display: flex;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    padding: 8px;
    position: relative;
      /* background:cubic-gradient(red,blue, green, transparent); */
    & img{
        width: 300px;
       border-radius: 50%;
       animation-name: imag-animation;
       animation-timing-function: linear;
       animation-duration:3s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
    }
}

/* img animation */
 @keyframes imag-animation{
    0%{
        box-shadow: 1px 0px 15px  rgb(207, 135, 2);
        transform: translateY(10px);
    }
    25%{
        box-shadow: 1px 0px 15px  rgb(55, 224, 230);                
    }
    50%{
        box-shadow: 1px 0px 15px  rgb(31, 235, 12);
        transform: translateY(0);
    }
    75%{
        box-shadow: 1px 0px 15px  rgb(233, 20, 38);
    }
    100%{
        transform: translateY(-10px);
        box-shadow: 1px 0px 15px rgb(207, 135, 2);
    }
}

@keyframes disc_content {
    0% { opacity: 0; }
  /* 50% { opacity: 0; } */
  100% { opacity: 1; }
}

/* media query */

@media (max-width:1000px) {
    .container{
        padding: 0 7% ;
    }
    .home-section{
        margin: 90px 0;
    }
    .home-disc h3{
        font-size: 1.1rem;
    }
    .home-disc h1{
        font-size: 1.8rem;
    }
    .home-img img{
        width: 270px;
    }
    .home-disc h3 .dynamic-disc{
        font-size: 1.1rem;
    }
    .home-disc .home-soialLinks a{
        font-size: 1.3rem;
    }
}
@media (max-width:750px) {
    .container{
        padding: 0 6% ;
    }
    .home-disc h3{
        font-size: 1.07rem;
    }
    .home-disc h1{
        font-size: 1.6rem;
    }
    .home-img img{
        width: 240px;
    }
    .home-disc h3 .dynamic-disc{
        font-size: 1.07rem;
    }
    .home-disc .home-soialLinks a{
        font-size: 1.1rem;
    }
}
@media (max-width:577px) {
    .home-section{
        flex-direction: column;
        gap: 30px;
        margin: 40px 0 30px 0;
        & .home-disc{
            order: 2;
        }
    }
    .home-img img{
        width:190px;
    }
    .container{
        padding: 0 3% ;
    }
    .style-box2{
        left: 40%;
        bottom: -280px;
        background:rgba(0, 0, 255, 0.191);
        box-shadow: 0 0 100px rgba(0, 0, 255, 0.420);
    }
}
@media (max-width:400px){
    .style-box2{
        width: 140px;
        left: 30%;
        bottom: -300px;
        background:rgba(0, 0, 255, 0.191);
        box-shadow: 0 0 100px rgba(0, 0, 255, 0.420);
    }
}