.title{
    display:flex;
    gap: 8px;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 40px 0;
    & h1{
        font-size: 2rem;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 1px;
        width: fit-content;
        border-bottom: 3px solid rgb(98, 0, 255);
    }
   & p{
    text-align: center;
    padding: 0 10px;
    color: rgb(148, 148, 148);
    font-size: 0.9rem;
    letter-spacing: 0.6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
}

/* =====media query===== */
@media (max-width:1000px) {
    .title{
        padding: 10px 0 30px 0;
        & h1{
            font-size: 1.9rem;
        }
    }
}
@media (max-width:790px) {
    .title{
        padding: 10px 0 20px 0;
        & h1{
            font-size: 1.6rem;
        }
    }
}
@media (max-width:500px) {
    .title{
        padding: 10px 0 20px 0;
        & h1{
            font-size: 1.35rem;
        }
        & p{
            text-align: justify;
            font-size: 0.8rem;
            padding: 0 3.3%;
        }
    }
}