.skills{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 20px 0;  
}
 .technology{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 10px;
    max-width: 500px;
    border-radius: 30px;
    background: rgb(17, 17, 17);
    border: 2px solid rgba(119, 119, 119, 0.753);
    box-shadow: 0 0 20px rgba(133, 22, 236, 0.404);
    & h2{
      font-family:'Times New Roman', Times, serif;
    }
 }
 .tech{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
 }

 /* media query */

 @media (max-width:486px) {
   .skills{
      gap: 16px;
   }
   .technology{
      gap: 15px;
      padding:15px 10px;
      & h2{
         font-size: 1.45rem;
         font-family:'Times New Roman', Times, serif;
      }
   }
   .tech{
      gap: 12px;
   }
 }