.about{
    display: flex;
    gap: 30px;
    border: 2px solid rgb(140, 0, 255);
    margin:0 10% 30px 10%;
    background: rgb(17, 17, 17);
    padding: 50px 30px;
    border-radius: 20px;
    border: 2px solid rgba(119, 119, 119, 0.753);
    box-shadow: 0 0 20px rgba(133, 22, 236, 0.404);
    position: relative;
    & .about-img img{
        width: 250px;
        border-radius: 25px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
}
.about-disc{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    & p{
        text-align: justify;
        font-size: 1.1rem;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 1px;
        line-height: 1.3;
        color: rgb(231, 229, 229);
    }
}
.about-title{
    display: none;
    position: absolute;
    left: 209px;
    top:40px;
    flex-direction: column;
    gap: 5px;
    & .tle{
        color: green;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 90%;
    }
    & .tle-disc{
        color: rgb(184, 184, 184);
        font-size: 80%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}

/* media query */

@media (max-width:1100px) {
    .about{
        padding: 30px;
        margin:0 6% 15px 6%;
    }
    .about .about-disc{
        padding: 10px 0;
        & p{
            font-size: 1rem;
        }
    }
}

@media (max-width:876px) {
    .about{
        gap: 20px;
        padding: 20px ;
        flex-wrap: wrap;
        & .about-img img{
            width: 170px;
        }
    }
    .about-title{
        display: flex;
    }
    .about .about-disc{
      padding: 2px;
      & p{
        font-size: 0.94rem;
      }
    }
}

@media (max-width:550px) {
    .about{
        padding: 12px ;
        gap: 15px;
        margin:0 1.5% 10px 1.5%;
        & .about-img img{
            width: 130px;
        }
    }
    .about-title{
       left: 155px;
       top: 20px;
       gap: 0;
       & .tle{
        font-size: 75%;
       }
       & .tle-disc{
        font-size: 70%;
       }
    }
    .about .about-disc{
      padding: 0px;
      & p{
        font-size: 0.85rem;
      }
    }
}
@media (max-width:310px) {
    .about{
        justify-content: center;
    }
    .about-title{
        display: none;
    }
}