.contact{
    width: 100%;
    display:flex;
    gap: 20px;
    justify-content:space-between;
    margin-bottom: 40px;
}
.contact .contact-col:last-child{
    background: rgb(17, 17, 17);
    border-radius: 15px;
    border: 2px solid rgba(119, 119, 119, 0.753);
    box-shadow: 0 0 20px rgba(133, 22, 236, 0.404);
}
.contact .contact-col:first-child{
    background: rgba(20, 20, 20, 0.884);
    border-radius: 20px;
}
.contact-col{
    flex-basis: 60%;
    padding: 30px 30px 10px 30px;
     & h3{
        color: #caa605;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 25px;
        display:flex;
        align-items:center;
        margin-bottom: 20px;
        & img{
            width: 35px;
            margin-left: 10px;
        }
     }
     & p{
        color: rgb(206, 206, 206);
        max-width: 450px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.95rem;
        line-height: 1.3;
     }
     & ul li{
        display:flex;
        /* justify-content:center; */
        align-items:center;
        color: rgb(187, 185, 185);
        font-size: 0.9rem;
        letter-spacing: 0.6px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 20px 0;
        & img{
            width: 25px;
            margin-right: 10px;
        }
     }
}

.contact-col form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    & fieldset{
     border-radius: 12px;
     border: 2px solid rgba(105, 105, 105, 0.753);
     box-shadow: 0 0 10px rgba(133, 22, 236, 0.404);
     & legend{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(1, 235, 252);
        padding: 0 7px;
        margin: 0 20px;
     }
     & input, textarea{
        letter-spacing: 1px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        outline: none;
        padding: 7px 20px 15px 20px;
        border: none;
        background:transparent;
        border-radius: 20px;
        width: 100%;
        height: 100%;
     }
    }
    & button{
        margin-left: 5px;
        border: none;
        color: rgb(255, 255, 255);
        background: linear-gradient(45deg, rgba(162, 0, 255, 0.705), rgba(229, 255, 0, 0.685));
    }
}
.contact-col span{
    display: block;
    margin:10px 15px;
    color: rgba(255, 234, 48, 0.603);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ======media query===== */
@media (max-width:1100px) {
    .container{
        padding: 0 7%;
    }
    .contact-col{
        padding: 15px 20px;
    }
}

@media (max-width:846px) {
    .container{
        padding: 0 4%;
    }
    .contact-col{
        padding: 12px;
        
    }
    .contact-col form{
        gap: 15px;
        & fieldset legend{
            font-size: 0.94rem;
        }
    }
    .contact-col h3{
        font-size: 20px;
        & img{
            width: 28px;
        }
    }
    .contact-col p{
        font-size: 0.9rem;
    }
    
    .contact-col ul li{
        font-size: 0.8rem;
        & img{
            width: 20px;
        }
    }
    
}

@media (max-width:700px) {
    .container{
        padding: 0 2%;
    }
    .contact{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .contact-col p{
        max-width: 100%;
    }
}