*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
html{
    /* scroll-behavior: smooth; */
    font-size:100%;
}
body{
    background: repeating-linear-gradient(180deg, rgba(10, 10, 10, 0.8),rgba(22, 22, 22, 0.8) 45px),
    repeating-linear-gradient(90deg, rgba(48, 47, 47, 0.7),rgba(24, 23, 23, 0.9) 50px);
  color: white;
  /* width: 100%;
  height: 100%; */
}
a{
  text-decoration: none;
  /* color: white; */
}
li{
  list-style: none;
}
.container{
  padding: 0 9% 0 9%;
}
.btn{
    cursor: pointer;
    width: fit-content;
    background:rgb(209, 119, 2) ;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    &:hover{
      background: rgb(0, 160, 0);
      box-shadow: 0 0 10px rgb(37, 37, 37);
    }
}
.flex{
  display: flex;
  gap: 20px;
}

@media (max-width:576px) {
  .btn{
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}